body {
    font-family:'Trebuchet MS';
    height:100%;
    margin:0;
}
.nbg {
    background-color: #ebc334;
}
.secpm{
    margin-top:50px;
    padding:10px;
}
.headerc{
    text-align:center;
}
.hrc{
    margin-left:50px;
    margin-right:50px;
}
.cardc{
    text-align:center;
    padding:40px;
}
.icenter {
    padding:5px;
    text-align: center;
}
.copyright{
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
}
.fstyles {
    margin-top: 50px;
    padding: 20px;
    background-color: #ffdb5c;
}
.tcenter{
    text-align:center;
}
.mt15{
    padding-top:40px;
}
.fixfoot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom:10px;
    background-color: #ebc334;
}
.btnGold {
    background-color: #ebc334;
}